
<h2>Bands index</h2><br>

<%= render 'shared/notices' %>

<table>        
<thead>          
<th>Band Name</th>
<th>Tags</th>
<% if user_admin? %>
<th>Edit/Delete</th>
<% end %>
</thead>
<tbody>
<% @bands.order(:name).each do |band| %>
<tr>
<td><a href="<%= band_url(band) %>"><%= band.name %></a></td>
<% tags = band.tags.map { |tag| tag.name } %>
<td><%= tags.join(', ') %></td>
<% if user_admin? %>
<td><a href="<%= edit_band_url(band) %>">Edit</a>/
<form action="<%= band_url(band) %>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
</td> 
<% end %>
</tr>
<% end %>
</tbody>
</table>

<% if user_admin? %>
<a href="<%= new_band_url %>">Create A New Band</a>
<% end %>

