<h1><%= @cat.name %>'s Information</h1>

<table>
  <tr>
    <th>Age</th>
    <th>Date of Birth</th>
    <th>Color</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.name %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>  
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>Scheduled Rentals</th>
    </tr>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <% @cat.rental_requests.order(:start_date).each do |request| %>
  <tr>
  <% if request.pending? %>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <td><%= request.status %></td>
    <td>
    <form action="<%= approve_cat_rental_request_url(request) %>" method="post">
      <input type="submit" value="Approve">
    </form></td>
    <td><form action="<%= deny_cat_rental_request_url(request) %>" method="post">
      <input type="submit" value="Deny">
    </form>
    </td>
  <% else %>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %></td>
  <% end %>
  </tr>
  <% end %>
</table>


