<h1><%= @cat.name %>'s Information</h1>

<table style="align:left">
  <colgroup span="7"></colgroup>
  <tr>
    <th>Age</th>
    <th>Date of Birth</th>
    <th>Color</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.name %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>  
  </tr>
</table>