<h1><%= @user.username %>'s Goals</h1><br>

<a href="<%= new_user_goal_url(@user) %>">Add New Goal</a><br>

<%= render 'shared/notices' %><br>
<%= render 'shared/errors' %><br>

<%= render 'comments/on_user', user: @user %><br>

<table>
<thead>
<th>Comments for <%= @user.username %></th>
</thead>
<tbody>
<% @user.comments.includes(:author).each do |comment| %>
<tr>
<td><%= comment.author.username %></td>
<td><%= comment.content %></td>
</tr>
<% end %>
</tbody>
</table>

<table>
<h1>Incomplete goals</h1>
<thead>
  <th>Title</th>
  <th>Description</th>
  <% if current_user %>
    <th>Mark Completed</th>
    <th>Edit/Delete</th>
  <% end %>
</thead>
<tbody>
  <% @incomplete_goals.each do |goal| %>
  <tr>
    <% if (goal.private || !goal.private) && current_user.id == goal.user_id %>
    <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
    <td><%= goal.description %></td>
    <td>No
        <form action="<%= toggle_completed_goal_url(goal) %>" method="POST">
        <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="submit" value="Mark Completed">
        </form>
    </td>
    <td><a href="<%= edit_goal_url(goal) %>">Edit</a>/
    <form action="<%= goal_url(goal) %>" method="POST">
        <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
    </td>
    <% elsif goal.private && current_user.id != goal.user_id %>
    <td></td>
    <td></td>
    <% elsif !goal.private && current_user.id != goal.user_id %>
    <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
    <td><%= goal.description %></td>
    <% end %>
  </tr>
  <% unless goal.private && current_user.id != goal.user_id %>
  <tr>
    <td><%= render 'comments/on_incompleted_goal', goal: goal %></td>
  </tr>
  <% end %>
  <% goal.comments.includes(:author).each do |comment| %>
  <tr>
    <td><%= comment.author.username %></td>
    <td><%= comment.content %></td>
  </tr>
  <% end %>
  <% end %>
</tbody>
</table><br>

<table>
<h1>Completed goals</h1>
<thead>
  <th>Title</th>
  <th>Description</th>
  <% if current_user %>
    <th>Mark Incomplete</th>
    <th>Edit/Delete</th>
  <% end %>
</thead>
<tbody>
  <% @complete_goals.each do |goal| %>
  <tr>
    <% if (goal.private || !goal.private) && current_user.id == goal.user_id %>
    <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
    <td><%= goal.description %></td>
    <td>Yes
        <form action="<%= toggle_completed_goal_url(goal) %>" method="POST">
        <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="submit" value="Mark Incompleted">
        </form>
    </td>
    <td><a href="<%= edit_goal_url(goal) %>">Edit</a>/
    <form action="<%= goal_url(goal) %>" method="POST">
        <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
    </td>
    <% elsif goal.private && current_user.id != goal.user_id %>
    <td></td>
    <td></td>
    <% elsif !goal.private && current_user.id != goal.user_id %>
    <td><a href="<%= goal_url(goal) %>"><%= goal.title %></a></td>
    <td><%= goal.description %></td>
    <% end %>
  </tr>
  <% unless goal.private && current_user.id != goal.user_id %>
  <tr>
    <td><%= render 'comments/on_completed_goal', goal: goal %></td>
  </tr>
  <% end %>
  <% goal.comments.includes(:author).each do |comment| %>
  <tr>
    <td><%= comment.author.username %></td>
    <td><%= comment.content %></td>
  </tr>
  <% end %>
  <% end %>
</tbody>
</table>