<!DOCTYPE html>
<html>
  <head>
    <title>MusicAppRails</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

  </head>

  <body>
  <section class="main-header">
  <h1><a href="<%= bands_url %>">Music App</a></h1>
    <div>
      <% if logged_in? %>
        <a href="<%= user_url(current_user.id) %>"><%= current_user.email %></a> 
        <form class="log-out" action="<%= session_url %>" method="POST">
          <%= auth_token %>
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log out">
        </form>
      <% else %>
        <a href="<%= new_session_url %>">Log In</a><br>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>
    </div>
  </section>

    <%= yield %>
  </body>
</html>
