<form action="<%= cheers_url %>" method="POST" id="user_cheer_form">
<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
<input type="hidden" name="user_id" value="<%= user.id %>"> 
<input type="hidden" name="cheer[celebrator_id]" value="<%= current_user.id %>">
<input type="hidden" name="cheer[cheerable_type]" value="User">
<input type="hidden" name="cheer[cheerable_id]" value="<%= user.id %>"> 
</form>
<button type="submit" form="user_cheer_form" 
    class="user_cheer_button" value="submit">Cheers!</button>