
<h2>Inventory Search</h2><br>

<%= render 'shared/notices' %>

<% if !@bands.nil? %>
<div>
<table>        
<thead>          
<th>Bands</th>
<% if user_admin? %>
<th>Edit/Delete</th>
<% end %>
</thead>
<tbody>
<% @bands.order(:name).each do |band| %>
<tr>
<td><a href="<%= band_url(band) %>"><%= band.name %></a></td>
<% if user_admin? %>
<td><a href="<%= edit_band_url(band) %>">Edit</a>/
<form action="<%= band_url(band) %>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
</td> 
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>


<% if @albums %>
<div>
<table>        
<thead>          
<th>Albums</th>
<% if user_admin? %>
<th>Edit/Delete</th>
<% end %>
</thead>
<tbody>
<% @albums.order(:name).each do |album| %>
<tr>
<td><a href="<%= album_url(album) %>"><%= album.name %></a></td>
<% if user_admin? %>
<td><a href="<%= edit_album_url(album) %>">Edit</a>/
<form action="<%= album_url(album) %>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
</td> 
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>

<% if @tracks %>
<div>
<table>        
<thead>          
<th>Tracks</th>
<% if user_admin? %>
<th>Edit/Delete</th>
<% end %>
</thead>
<tbody>
<% @tracks.order(:title).each do |track| %>
<tr>
<td><a href="<%= track_url(track) %>"><%= track.title %></a></td>
<% if user_admin? %>
<td><a href="<%= edit_track_url(track) %>">Edit</a>/
<form action="<%= track_url(track) %>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
</td> 
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>

<% if user_admin? %>
<a href="<%= new_band_url %>">Create A New Band</a>
<% end %>